.signinheader {
  margin-left: 100px;
  
}

.pimg {
  /* margin-left: 190px;
  margin-top: -50px;
  font-size: smaller; */
  text-align: center;

}
.p2 {
  margin-left: 213px;
}
.button1 {
  background-color: red !important;
}
.button1 {
  margin-bottom: 30px;
  margin-top: 40px;
  width: 200px;
  height: 64px;
  border-radius: 32px;
  padding: 10px;
  text-decoration-color: white;
}
.signin1 {
  color: rgb(0, 195, 255);
  margin-left: 10px;
}

