.homenav {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: whitesmoke;
  height: 90px;
  
}
.nav1 {
  
}

.div2 {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

h1 {
  font-size: 150px;
}