
@media only screen and (max-width: 600px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.getblood {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14.91px;
  line-height: 22.37px;
  margin-top: 5px;
  margin-left: -12px;
}

.navblood {
  padding: 5px 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  background: #ffffff;
}

.btn4 {
  background: #ed394a;
  border-radius: 32px;
  width: 250px;
  height: 50px;
  left: 582px;
  background-position: center;
  color: white;
}

.header {
  background-color: rgb(184, 179, 163);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.errortext {
  text-align: center;
  color: #323131;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}

.btn4 {
  background: #ed394a;
  border-radius: 32px;
  width: 250px;
  height: 50px;
  left: 582px;
  background-position: center;
  color: white;
}
.header {
  background-color: rgb(184, 179, 163);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: none;
}




.reqbuttondiv {
  margin-top: 30px;
margin-bottom: 32px;
text-align: center;
} 
.requestrow {
  height: 80px;
  text-align: center;
}
.requestrow:hover {
  background-color: none;
  box-shadow: 0px 4px 4px ;
  
}















.p2 {
  margin-left: 213px;
}

.col-g-3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.col-h-4 {
  margin-top: -0px;
}

.signup {
  color: rgb(0, 195, 255);
  margin-left: 20px;
}



.getblood1 {
  margin-left: 100px;
  min-width: -150px;
}




.btn-outline-success {
  background-color: red;
  width: 232px;
  height: 64px;
  text-decoration-color: white;
  padding: 10px;
  border-radius: 26px;
}
.profile {
  margin-right: 70px;
  margin-bottom: 20px;
}



.img-container{
  display: flex;
  justify-content: center;
  align-items:center;
}

.requestpageP {
  text-align: right;
}

.profileeditsave {
  text-align: right;
}