.heading {
  margin-bottom: 20px;
}

.Signin-form {
  height: 40vmin;
  pointer-events: none;
}

.button1 {
  background-color: red !important;
}
.button2 {
  background-color: red !important;
}
.button1 {
  margin-bottom: 30px;
  margin-top: 40px;
  width: 200px;
  height: 64px;
  border-radius: 32px;
  padding: 10px;
  text-decoration-color: white;
}
.button2 {
  margin-bottom: 30px;
  margin-top: 40px;
  width: 200px;
  height: 64px;
  border-radius: 32px;
  padding: 10px;
  text-decoration-color: white;
}

.container {
  width: 800px;
  padding: 100px 20px;
}

.p2 {
  margin-left: 213px;
}
.pdonor {
  margin-left: 270px;
}
.col-g-3 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.col-h-4 {
  margin-top: -0px;
}
.col-md-6 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.signup {
  color: rgb(0, 195, 255);
  margin-left: 20px;
}
.signin1 {
  color: rgb(0, 195, 255);
  margin-left: 10px;
}
.pimg {
  margin-left: 190px;
  margin-top: -50px;
  font-size: smaller;
}
.getblood {
  margin-left: 100px;
  min-width: -100px;
}
.getblood1 {
  margin-left: 100px;
  min-width: -150px;
}
.col-md-5 {
  margin-top: 50px;
  margin-left: 20px;
}
.make {
  color: white;
  background-color: #ed394a;
  margin-top: 20px;
  border-radius: 32px;
  margin-left: 90px;
  width: 276px;
  height: 64px;
  left: 121px;
  top: 520px;
}
.save {
  font-size: 101px;
  font-weight: 700px;
  line-height: 108px;
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-top: 60px;
  margin-left: 90px;
}
.col-md-6 {
  margin-left: 60px;
}
.life {
  margin-left: 90px;
  font-size: 20px;
}
.col-md-6 {
  margin-top: 40px;
}

